<h1>Sign up confirmation</h1>

<div class="row">
  <div class="col-md-4">
    <h4><strong>Are you sure these values are correct?</strong></h4>
    <h5><strong>Email: </strong><%= @user.email %></h5>
    <h5><strong>Name: </strong><%= @user.name %></h5>
  </div>
</div>

<div class="row">
  <div class="col-md-1">
    <%= button_to "Yes", { controller: "users", action: "create", params: { user: user_params } }, class: 'btn btn-success' %></div>
    <%= button_to "No", { controller: "users", action: "new"} , class: 'btn btn-success', :method => :get %>
  </div>
</div>
